<section id="simple-table">
    <div class="row">
        <div class="col-sm-12">
            <div class="card">
                <div class="card-header">
                    <h4 class="card-title">Simulateur de Vote</h4>
                    <p> <code>.Simulateur </code>  <code> Choisissez votre candidat </code>. .</p>
                </div>
                <div class="card-body">
                    <div class="card-block">
                        <table class="table">
                            <thead>
                                <tr>
                                    <th>#</th>
                                    <th>Nom et Prenoms</th>
                                    <th>Image</th>
                                    <th>Sigle</th>
                                    <th>Logo</th>
                                    <th>Espace Vote</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <th scope="row">1</th>
                                    <td> Hamed Bakayoko  </td>
                                    <td><img class="img-fluid rounded-circle" src="assets/img/candidats/hambak.jpg" alt="" height="150" width="150" style="margin : 0 auto;"></td>
                                    <td> <span class="badge badge-success">RDR</span> </td>
                                    <td><img class="img-fluid img-rounded" src="assets/img/candidats/rdr.png" alt="" height="50" width="50" style="margin : 0 auto;"></td>
                                    <td>
                                      @vote <br/>
                                      <img src="assets/img/svg/X_mark.svg" alt="" style="height:75px;width:75px;" (click)="vote(1,1)">
                                      <img src="assets/img/candidats/plus.png" alt="" style="height:75px;width:75px;" (click)="vote(1,2)">
                                      <img src="assets/img/candidats/moins.png" alt="" style="height:75px;width:75px;" (click)="vote(1,2)">
                                    </td>
                                </tr>
                                <tr>
                                    <th scope="row">2</th>
                                    <td>Koné Tehfour</td>
                                    <td><img class="img-fluid rounded-circle" src="assets/img/candidats/tefkour.jpeg" alt="" height="150" width="150" style="margin : 0 auto;"></td>
                                    <td><span class="badge badge-success">UJS</span></td>
                                    <td><img class="img-fluid img-rounded" src="assets/img/candidats/ujs.jpg" alt="" height="50" width="50" style="margin : 0 auto;"></td>
                                    <td>
                                      @vote <br/>
                                      <img src="assets/img/svg/X_mark.svg" alt="" style="height:75px;width:75px;" (click)="vote(2,3)">
                                      <img src="assets/img/candidats/plus.png" alt="" style="height:75px;width:75px;" (click)="vote(2,3)">
                                      <img src="assets/img/candidats/moins.png" alt="" style="height:75px;width:75px;" (click)="vote(2,3)">
                                    </td>
                                </tr>
                                <tr>
                                    <th scope="row">3</th>
                                    <td>Coulibaly Zonzerigue</td>
                                    <td><img class="img-fluid rounded-circle" src="assets/img/candidats/coul.jpg" alt="" height="150" width="150" style="margin : 0 auto;"></td>
                                    <td><span class="badge badge-success">candidat independant</span></td>
                                    <td>@Freedom</td>
                                    <td>
                                      @vote <br/>
                                      <img src="assets/img/svg/X_mark.svg" alt="" style="height:75px;width:75px;" (click)="vote(3,3)">
                                      <img src="assets/img/candidats/plus.png" alt="" style="height:75px;width:75px;" (click)="vote(3,3)">
                                      <img src="assets/img/candidats/moins.png" alt="" style="height:75px;width:75px;" (click)="vote(3,3)">                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
