<!--Basic DataTable Starts-->
<section id="basic-datatable" class="mb-3">
    <div class="row">
        <div class="col-12">
            <div class="content-header">Liste des Partisans</div>
            <p class="content-sub-header">La liste de tous les partisans créés sur l'application</p>

        </div>
    </div>
    <div class="row" *ngIf="partisans != undefined">
      <div class="col-sm-12">
        <input type='text' style='padding:8px;margin:15px auto;width:30%;' placeholder='Rechercher' (keyup)='updateFilter($event)'
        />
        <button type="button" class="btn btn-raised btn-danger float-right"  (click)="open(infoElement,content)">Ajouter un Nouveau partisan</button>

        <ngx-datatable
          class="bootstrap"
          [rows]="rows"
          [loadingIndicator]="loadingIndicator"
          [columnMode]="'force'"
          [headerHeight]="50"
          [footerHeight]="50"
          [rowHeight]="'auto'"
          [reorderable]="reorderable"
          [limit]="10"
          [sortType]="'multi'"
          [reorderable]="reorderable"
          >
            <ngx-datatable-column name="Nom etPrenoms">
              <ng-template let-row="row" let-value="value" ngx-datatable-cell-template>
                {{row['fullname']}}
              </ng-template>
            </ngx-datatable-column>
            <ngx-datatable-column name="lieu de residence ">
            <ng-template let-row="row" let-value="value" ngx-datatable-cell-template>
              <div class="text-uppercase">
                <strong>{{row['lieu_residence']}}</strong>
              </div>
            </ng-template>
          </ngx-datatable-column>
          <!-- <ngx-datatable-column name="datenaiss">
            <ng-template let-row="row" let-value="value" ngx-datatable-cell-template>
               {{row['datenaiss']}}
            </ng-template>
          </ngx-datatable-column> -->
          <ngx-datatable-column name="Sexe">
            <ng-template let-row="row" let-value="value" ngx-datatable-cell-template>
               {{row['sexe']}}
            </ng-template>
          </ngx-datatable-column>

          <ngx-datatable-column name="Profession">
            <ng-template let-row="row" let-value="value" ngx-datatable-cell-template>
               {{row['profession']}}
            </ng-template>
          </ngx-datatable-column>

          <ngx-datatable-column name="Contact">
            <ng-template let-row="row" let-value="value" ngx-datatable-cell-template>
              {{row['contact']}}
            </ng-template>
          </ngx-datatable-column>
          <ngx-datatable-column name="Actions">
            <ng-template let-row="row" let-value="value" ngx-datatable-cell-template>
              <a class="warning p-0" data-original-title="" title="" #printcard (click)="open(printcard,usercard,row)">
                  <i class="fa fa-address-card font-medium-3 mr-2"></i>
              </a>
              <a class="info p-0" data-original-title="" title="" #infoElement (click)="open(infoElement,content,row)">
                  <i class="ft-user font-medium-3 mr-2"></i>
              </a>
              <a class="danger p-0" data-original-title="" title="" #btnElement (click)="openDelete(btnElement, confirm,row)">
                  <i class="ft-x font-medium-3 mr-2"></i>
              </a>
            </ng-template>
          </ngx-datatable-column>
        </ngx-datatable>
      </div>
    </div>
</section>



<section>
  <!-- modal details   -->
  <ng-template #content let-c="close" let-d="dismiss" >
      <div class="modal-header">
          <h4 class="modal-title">Infos sur le partisan </h4>
          <button type="button" class="close" aria-label="Close" (click)="d('Cross click')">
          <span aria-hidden="true">&times;</span>
          </button>
      </div>
      <div class="modal-body">
        <form class="form" [formGroup]="partisanForm" autocomplete="off">
          <div class="form-body">
            <h4 class="form-section"><i class="ft-info"></i> Infos  </h4>
            <div class="row">
              <div class="col-md-6">
                <div class="form-group">
                  <label for="userinput1">lieu de residence</label>
                  <input type="text"  class="form-control border-primary"  name="lieu_residence"  formControlName="lieu_residence" value={{partisan.lieu_residence}}>
                </div>
              </div>
              <div class="col-md-6">
                <div class="form-group">
                  <label for="userinput6">Sexe</label>
                  <select class="form-control"   name="sexe" formControlName="sexe">
                      <option value="M">M</option>
                      <option value="F">F</option>
                  </select>
                </div>
              </div>
            </div>

            <div class="form-group">
              <label for="userinput2">Nom Complet</label>
              <input type="text"  class="form-control border-primary"  name="company" formControlName="fullname" value="{{partisan.fullname}}">
            </div>

            <div class="form-group">
              <label for="datenaiss">Date de Naissance</label>
              {{partisan.datenaiss}}
              <!-- [ngModelOptions]="{standalone: true}" -->
              <!-- <input type="date"  class="form-control border-primary"  name="datenaiss" formControlName="datenaiss"> -->
              <ngb-datepicker #dp [(ngModel)]="model" (navigate)="date = $event.next" formControlName="datenaiss" [startDate]="{year: today.year(), month: today.month()+1}"></ngb-datepicker>

            </div>

            <div class="row">
              <div class="col-md-6">
                <div class="form-group">
                  <label for="userinput2">Profession</label>
                  <input type="text"  class="form-control border-primary"  name="profession" formControlName="profession" value="{{partisan.profession}}">
                </div>
              </div>
              <div class="col-md-6">
                <div class="form-group">
                  <label for="userinput6">Zone</label>
                  <select class="form-control"   name="zone" formControlName="zone" value="zones[0].id">
                    <option *ngFor="let zon of zones" value="{{zon.id}}">{{zon.quartier}}</option>
                    <!-- <option value="F">F</option> -->
                  </select>
                </div>
              </div>
            </div>

            <div class="row">
              <div class="col-md-6">
                <div class="form-group">
                  <label for="userinput2">Email</label>
                  <input type="text"  class="form-control border-primary"  name="email" formControlName="email" value="{{partisan.email}}">
                </div>
              </div>
              <div class="col-md-6">
                <div class="form-group">
                  <div class="form-group">
                    <label for="userinput2">Contact</label>
                    <input type="text"  class="form-control border-primary"  name="contact" formControlName="contact" value="{{partisan.contact}}">
                  </div>
                </div>
              </div>
            </div>


            <div class="form-group">
              <label for="userinput6">Status</label>
              <select class="form-control"   name="statut" formControlName="statut" >
                <option value="membre simple">Membre Simple</option>
                <option value="partisans">Partisan</option>
                <option value="simpartisan">Simpartisan</option>
                <option value="benevole">Benevole</option>
              </select>
            </div>


            <h4 class="form-section"><i class="fa fa-pie-chart"></i> Stats </h4>

            <div class="form-group">
              <label for="userinput5">Nombre de partisans</label>
              <input class="form-control border-primary" type="number" value="{{partisan.profession}}"  id="userinput5" readonly >
            </div>

            <div class="form-group">
              <label>Evenements</label>
              <input class="form-control border-primary" id="userinput7" type="number" readonly value="{{partisan.event}}" >
            </div>

          </div>

          <div class="form-actions right">
            <button type="button" class="btn btn-raised btn-warning mr-1">
              <i class="ft-x"></i> Annuler
            </button>
            <button type="button" class="btn btn-raised btn-primary" (click)="createPartisan()">
              <i class="fa fa-check-square-o"></i> Enregistrer
            </button>
          </div>
        </form>
      </div>
      <div class="modal-footer">
          <button type="button" class="btn btn-secondary btn-raised" (click)="c('Close click')" id="closeform">Fermer</button>
      </div>
  </ng-template>
  <!-- end modal details  -->

  <!-- confirm  -->
  <ng-template #confirm let-c="close" let-d="dismiss">
    <div class="modal-header">
      <h4 class="modal-title text-center text-danger">{{ options.title}}</h4>
      <button type="button" class="close" aria-label="Close" (click)="d('Cross click')" #btnClose >
      <span aria-hidden="true">&times;</span>
      </button>
    </div>
    <div class="modal-body">
      <p>{{ options.message }}</p>
      Nom et Prenom Partisan :  {{partisan.fullname}}    <br/>
      Profession :{{partisan.profession}}    <br/>
      Sexe  : {{partisan.sexe}}  <br/>
    </div>
    <div class="modal-footer">
      <button id="closed" type="button" class="btn btn-raised btn-primary" (click)="c('Close click')" >Annuler</button>
      <button type="button" class="btn btn-raised btn-danger"  (click)="deletePartisan()">Supprimer</button>
    </div>
  </ng-template>
  <!-- end confirm  -->

  <!-- popup  -->
  <ng-template #popup let-c="close" let-d="dismiss">
    <div class="modal-header text-center">
      <h4 class="modal-title text-center text-success">{{ info.title}}</h4>
      <button type="button" class="close" aria-label="Close" (click)="d('Cross click')" #btnPopClose id="btnPopClose" >
      <span aria-hidden="true">&times;</span>
      </button>
    </div>
    <div class="modal-body">
      <p class="text-center">{{ info.message }}</p>
    </div>
  </ng-template>
  <!-- end popup  -->


  <!-- usercard  -->
  <ng-template #usercard let-c="close" let-d="dismiss">
    <div class="modal-header">
      <h4 class="modal-title text-center text-danger">Carte De Membre</h4>
      <button type="button" class="close" aria-label="Close" (click)="d('Cross click')" #btnClose >
      <span aria-hidden="true">&times;</span>
      </button>
    </div>
    <div class="modal-body">
      <!-- <p>{{ options.message }}</p>
      Nom et Prenom Partisan :  {{partisan.fullname}}    <br/>
      Profession :{{partisan.profession}}    <br/>
      Sexe  : {{partisan.sexe}}  <br/> -->
            <div class="container">
            <div class="row">
            <div class="col-md-5  toppad  pull-right col-md-offset-3 ">
                 <!-- <A href="edit.html" >Edit Profile</A> -->

              <!-- <A href="edit.html" >Logout</A> -->
                <!-- <img alt="User Pic" src="assets/img/candidats/coul.jpg" class="img-circle rounded-circle img-responsive" height="150" width="150"> -->
                <img alt="User Pic" src="https://randomuser.me/api/portraits/men/{{partisan.id}}.jpg" class="img-circle rounded-circle img-responsive" height="150" width="150">
                   <br>
            <p class=" text-info">{{partisan.fullname}} </p>
            </div>
              <!-- <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6 col-xs-offset-0 col-sm-offset-0 col-md-offset-3 col-lg-offset-3 toppad" > -->


                <div class="panel panel-info">
                  <div class="panel-heading">
                    <h3 class="panel-title">Partisan</h3>
                  </div>
                  <div class="panel-body">
                    <!-- <div class="row"> -->
                      <!-- <div class="col-md-9 col-lg-9 " align="center"> <img alt="User Pic" src="assets/img/candidats/coul.jpg" class="img-circle rounded-circle img-responsive" height="150" width="150"> </div> -->
                      <!-- <div class=" col-md-9 col-lg-9 "> -->
                        <table class="table table-user-information">
                          <tbody>
                            <tr>
                              <td>Profession:</td>
                              <td>{{partisan.fullname}}</td>
                            </tr>
                            <!-- <tr>
                              <td>Hire date:</td>
                              <td>06/23/2013</td>
                            </tr> -->
                            <tr>
                              <td>Date de naissance</td>
                              <td>{{partisan.datenaiss}}</td>
                            </tr>
                              <tr>
                              <td>Lieu de résidence</td>
                              <td>{{partisan.lieu_residence}}</td>
                            </tr>
                            <tr>
                              <td>Telephone</td>
                              <td>{{partisan.contact}}
                                <!-- <br><br>555-4567-890(Mobile) -->
                              </td>

                            </tr>
                            <tr>
                              <td>Email</td>
                              <td><a href="mailto:info@support.com">{{partisan.email}}</a></td>
                            </tr>

                          </tbody>
                        </table>

                      <!-- </div> -->
                    <!-- </div> -->
                  </div>
                </div>
              <!-- </div> -->
            </div>
          </div>


    </div>
    <!-- <div class="modal-footer">
      <button id="closed" type="button" class="btn btn-raised btn-primary" (click)="c('Close click')" >Annuler</button>
      <button type="button" class="btn btn-raised btn-danger"  (click)="deletePartisan()">Supprimer</button>
    </div> -->
  </ng-template>
  <!-- end usercard  -->
</section>
<!--Basic DataTable Ends-->
